<app-video-list
  [videos]="videosList | async"
  (videoSelected)="selectVideo($event)"
></app-video-list>
<app-video-player [selectedVideo]="videoSelected"></app-video-player>
<app-stat-filters></app-stat-filters>
